
body {
  margin:0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;  
  height: 100%;
  background-color: #FFC7ED;
  background-image: linear-gradient(200deg, #FFC7ED 0%, #E6E6FA 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
}

/* CLOUDS */
body:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-radius: 100%;
  background: transparent;
  display: block;
  
  box-shadow: 0 0 150px 100px rgba(255, 255, 255, .6),
              200px 0 200px 150px rgba(255, 255, 255, .6),
              -250px 0 300px 150px rgba(255, 255, 255, .6),
              550px 0 300px 200px rgba(255, 255, 255, .6),
              -550px 0 300px 200px rgba(255, 255, 255, .6);
}
h1 {
  font-family: "Luckiest Guy";
  color: #E76F51;  
  letter-spacing: 6px;
  text-align: center;
  font-size: 68px;
  margin-bottom: 10px;
}

h3 {
  font-family: "Luckiest Guy";
  color: #F4A261;  
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 10px;
}

#container {
  position: relative;
  background-color: #FFF8DB;
  width: 70%;
  max-width: 680px;
  min-height: 500px;
  border: 2px solid #FFF8DB;
  box-shadow: 3px 3px rgba(0,27,0,.2);
  border-radius: 20px;
  padding: 0 40px 40px 40px;
  margin: 10vh auto 0 auto;
  overflow: hidden;
}

#container form, 
#container h1,
#container h3 {
  transition-duration: .2s;
}

#container.generated form, 
#container.generated h1,
#container.generated h3 {
  opacity: 0;
}

#output {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  max-width: 680px;
  transition-duration: 1s;
  font-family: "Delius";
  font-size: 22px;
  color: #304463;
  transform: translate(-50%, -100%);
}

#container.generated #output {
  transform: translate(-50%, -50%);
}

input {
  display: block;
  width: 60%;
  margin: 20px auto;
  color: #304463;  
}

input:focus {
  outline: 1px solid #304463;
}

input::placeholder {
  text-align: center;
  color: #777;
}

button {
  display: block;
  color: white;
  background-color: #7D8ABC;
  margin: 40px auto 0 auto;
  width: 100px;
  height: 30px;
  font-size: 18px;
  border: none;
}

button:hover {
    background-color: #36BA98;
}

button:active {
  background-color: #E9C46A;
  transform: scale(0.9);
}
